  *
  {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
    scroll-behavior: smooth;
  }


  ::-webkit-scrollbar
  {
    display: none;
  }

  body
  {
    background-color: white;
  }

  .lgbg
  {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #3065b5;
  }

  .login
  {
    position: relative;
    display: flex;
    right:0;
    float:right;
  }

  .dbutton
  {
    position: relative;
    background-color: #3065b5;
    border:2px solid white;
    text-decoration: none;
    height: 100%;
    padding: 7px;
    margin: auto;
    font-weight: bold;
  }
  .dbutton a
  {
    text-decoration: none;
    color: white;
  }

  .dbutton:hover,
  .dbutton a:hover
  {
    color: aqua;
    border-color: aqua;
  }

  .fa-user
  {
    display: block;
    position: relative;
    color: white;
    margin: 5px 10px 10px 10px;
  }

  .fa-user:hover
  {
    color:aqua;
  }

  .fa-user-md
  {
    display: block;
    position: relative;
    color: white;
    margin: 5px 10px 10px 10px;
  }

  .fa-user-md:hover
  {
    color: aqua;
  }


  nav 
  {
    position: relative;
    z-index: 10;
    left: 0;
    right: 0;
    top:50px;
    padding: 0;
    height:50px;
    background-color: white;
  }

  .logo img

  {
    position: absolute;
    width: 25vh;
    left: 0;
    margin: 5px;
  }

  .links 
  {
    float: right;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 5px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .links li 
  {
      list-style: none;
      display: inline-block;
      position: relative;
  }

  .links  li:hover
  {
    color: #3065b5;
  }

  .links li a:hover
  {
    color: #3065b5;
  }

  .mbutton
  {
    display: none;
  }

  .links a 
  {
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }


  .links li::after
  {
    content:'';
    width: 0%;
    height:2px;
    background: #3065b5;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .links  li:hover::after
  {
    width: 80%;
  }


  /*________________________Dropdown___________________________*/
    
      .dropdown 
      {
        position: relative;
        display: inline-block;
      }
    
      .drp
      {
        display: block;
        padding-top: 1.5em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 14px;
        font-weight: bold;
        color: black;
        text-decoration: none;
      }


      .dropdown-content 
      {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        top: 52px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a 
      {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover 
      {
        background-color: #b4b4b4
      }
    
      .dropdown:hover .dropdown-content 
      {
        display: block;
      }


      .dropdown-department 
      {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        top: 42px;
        width: auto;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin: 10px;
        justify-content: center;
      }
      
      .dropdown-department a 
      {
        position:relative;
        color: black;
        padding: 12px 30px;
        text-align: left;
        width:max-content;
      }
    
      .dropdown-department a:hover 
      {
        background-color: #b4b4b4
      }
    
      .dropdown:hover .dropdown-department 
      {
        display: flex;
        width: auto;
      }

      #nav-toggle 
      {
        position: absolute;
        top: -100px;
      }
      nav .icon-burger 
      {
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
      }
      nav .icon-burger .line 
      {
        width: 30px;
        height: 5px;
        background-color: #3065b5;
        margin: 5px;
        border-radius: 3px;
        transition: all .3s ease-in-out;
      }



.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  margin:5em auto 5em auto;
  width: 90%;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

h2 {
  font-size: 1.5rem;
  margin:-.6em 1em .8em -1.2em;  
  text-align: left;
  font-weight: normal;
}

h3
{
  font-weight: normal;
  text-align: left; 
  margin:1em
   1em 1em -1.5em;
}



.opening-hr
{
  position:absolute;
  top: 10%;
  left: 30%;
  width: 18%;
  padding:2em;
  text-align: left;
  background-color:#0392ce;
  color: white;
  height: 70%;
  margin: 2em;
}

.hr-hr
{
  border-top: 1px solid  #0392ce;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.hr-name
{
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 1em;
}

.hr1
{
  font-size: 13px;
}

.hr2
{
  font-size: 13px;

}

.hr3
{
  font-size: 13px;

}

.form-container {
  display: flex;
}

.left-container {
  flex: 1;
  height: 480px;
}

.contact-info
{
  position: relative;
  top: -50px;
  left: 5%;
}

.right-container {
  display: flex;
  flex: 1;
  height: 350px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}


.left-container {
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 50%;
  height: 80%;
  text-align: center;
}

select
{
  border: 1px solid #e0e0e0;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
  outline: none;
}

select:focus 
{
  outline: 1px solid rgb(0, 110, 255);
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input, textarea {
  border: 1px solid #e0e0e0;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus, textarea:focus {
  outline: 1px solid rgb(0, 110, 255);
}

button {
  border: 1px solid #e0e0e0;
  background-color: white;
  color: #222;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 30px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  cursor: pointer;
  float: left;
}

button:hover {
  opacity: 0.7;
  background-color: #0066ff;
  color: white;
}

 

 /*____________________________Footer____________________________*/
* {
 box-sizing: border-box;
}

.footer
{
 background-color:#222;
 height: 100%;
 overflow: hidden;
}

.box
{
 max-width: 2000px;
 width: 90%;
 margin: 10vh auto;
 padding: 3em 3em;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 grid-gap: 1em;
}



/*_____________footer-Desc_____________*/
.fdesc
{
 color: rgb(255, 255, 255);
}

.fdesc-title
{
 font-size: 20px;
 margin: 30px 50px 0px 50px;
}

.fdesc-title::after
{
 content:'';
 width: 0%;
 height:2px;
 background: rgb(3, 163, 163);
 display: block;
 margin: auto;
 transition: 0.5s;
}

.fdesc-title::after
{
 width: 30%;
 margin-left: 0px;
 margin-top: 5px;
}

.fdesc-desc
{
 font-size: 15px;
 text-align: left;
 line-height: 4vh;
 margin:30px 50px 0px 50px;
 color: #787878;
}

#fname
    {
      width: 120%;
      padding: 10px 10px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      outline: none;
      background-color: #222;
    }
  

    #fname:hover
    {
      border: 1px solid rgb(255, 255, 255);
      outline: none;
    }

    #lname
    {
      width: 120%;
      background-color: transparent;
      border: 1px solid #ccc;
      padding: 12px 10px;
      margin: 0px 0;
      cursor: pointer;
      color:#787878;
    }

    #lname:hover 
    {
      border: 1px solid rgb(255, 255, 255);
      outline: none;
    }

    #footer-submit
    {
      position: relative;
      width: 70%;
      background-color: transparent;
      border: 1px solid #ccc;
      padding: 12px 10px;
      margin: 1px 0;
      cursor: pointer;
      color:#787878;
    }

    #footer-submit:hover
    {
      border: 1px solid rgb(255, 255, 255);
      outline: none;
    }
    footer hr
    {
      margin-bottom: 1vh;
      border:1px solid rgba(255,255,255,.12);
    }

    .copyright
    {
      font-size: 13px;
      color:#646464;
      margin: 3vh;
      text-align: center;
    }

@media only screen and (max-width: 600px) 
{
  .left-container 
  {
    display: none;
  }

  .lg-view 
  {
    display: none;
  }
}
@media only screen and (min-width: 600px) 
{
  .sm-view 
  {
    display: none;
  }
  form p 
  {
    text-align: left;
  }
}

@media(max-width: 700px)
 {
  .logo img
      
  {
    position: absolute;
    width: 20vh;
    left: 0;
    margin: 7px;
  }

  .lgbg
  {
    position: relative;
    width: 100%;
    background-color: #3065b5;
    overflow: hidden;
  }

  .login
  {
    float: right;
    margin: 3px;
  }

  .dbutton
  {
    display: block;
    margin: 5px;
  }

  .fa-user
  {
    display: block;
    position: relative;
    color: white;
  }

  .fa-user:hover
  {
    color:aqua;
  }

  .fa-user-md
  {
    display: block;
    position: relative;
    color: white;
  }

  .fa-user-md:hover
  {
    color: aqua;
  }

  .navbox
  {
    position: relative;
    padding-top: 2em;
  }

  nav
  {
    top: 0;
  }

  nav .links 
  {
    float: none;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top:3.1em;
    bottom: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content:flex-start;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
    text-align: center;
    background-color: rgb(165, 165, 165);
  }


  nav .links a 

  {
      font-size: 15px;
  }

  nav :checked ~ .links 
  {
      bottom: 0;
  }
  nav .icon-burger 
  {
      display: block;
      right: 3%;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) 
  {
      transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) 
  {
      transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) 
  {
      opacity: 0;
  }

  .drp
  {
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .sm-view
  {
    display: none;
  }
  
  .lg-view 
  {
    display: block;
    margin: 2em 1em 1em 1em ;
  }

  
  .container
  {
    margin: 2em auto 2em auto;
  }

  .right-inner-container 
  {
    position: absolute;
    left:3em;
    width: 70%;
    height: 80%;
    text-align: center;
  }

  input, textarea 
  {
    border: 1px solid #e0e0e0;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
  }

  input:focus, textarea:focus 
  {
    outline: 1px solid rgb(0, 110, 255);
  }

  button 
  {
    border: 1px solid #e0e0e0;
    background-color: white;
    color: #222;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    float: left;
  }

  button:hover 
  {
    opacity: 0.7;
    background-color: #0066ff;
    color: white;
  }

   /*_____________footer-Desc_____________*/
.box
{
  margin-top: -2vh;
}

  .fdesc
{
  color: rgb(255, 255, 255);
}

.fdesc-title
{
  font-size: 20px;
  margin: 10px 50px 0px 40px;
  width: 200px;
}

.fdesc-title::after
{
  
  content:'';
  width: 0%;
  height:2px;
  background: rgb(3, 163, 163);
  display: block;
  margin: auto;
  transition: 0.5s;
}

 .fdesc-title::after
{
  width: 90%;
  margin-left: 0px;
  margin-top: 5px;
}

.fdesc-desc
{
  font-size: 15px;
  text-align: left;
  line-height: 4vh;
  margin:10px 25px 10px -20px;
  color: #787878;
}

input[type=text], select 
{
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

input[type=text]:hover
{
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}

input[type=submit] 
{
  width: 70%;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 12px 10px;
  margin: 1px 0;
  cursor: pointer;
  color:#787878;
}

input[type=submit]:hover 
{
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}


}