*
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;  
  scroll-behavior: smooth;
}


::-webkit-scrollbar
{
  display: none;
}

body
{
  background-color: white;
}

.lgbg
{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #3065b5;
}

.login
{
  position: relative;
  display: flex;
  right:0;
  float:right;
}

.dbutton
{
  position: relative;
  background-color: #3065b5;
  border:2px solid white;
  text-decoration: none;
  height: 100%;
  padding: 7px;
  margin: auto;
  font-weight: bold;
}
.dbutton a
{
  text-decoration: none;
  color: white;
}

.dbutton:hover,
.dbutton a:hover
{
  color: aqua;
  border-color: aqua;
}

.fa-user
{
  display: block;
  position: relative;
  color: white;
  margin: 5px 10px 10px 10px;
}

.fa-user:hover
{
  color:aqua;
}

.fa-user-md
{
  display: block;
  position: relative;
  color: white;
  margin: 5px 10px 10px 10px;
}

.fa-user-md:hover
{
  color: aqua;
}


nav 
{
	position: relative;
	z-index: 10;
	left: 0;
	right: 0;
	top:50px;
	padding: 0;
	height:50px;
	background-color: white;
}

.logo img

{
  position: absolute;
  width: 25vh;
  left: 0;
  margin: 5px;
}

 .links 
{
	float: right;
	padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 5px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


 .links li 
{
	  list-style: none;
    display: inline-block;
    position: relative;
}

.links  li:hover
{
  color: #3065b5;
}

.links li a:hover
{
  color: #3065b5;
}

.mbutton
{
  display: none;
}

 .links a 
{
	display: block;
	padding-top: 1.5em;
	padding-bottom: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 14px;
  font-weight: bold;
	color: black;
	text-decoration: none;
}


 .links li::after
{
  content:'';
  width: 0%;
  height:2px;
  background: #3065b5;
  display: block;
  margin: auto;
  transition: 0.5s;
}

 .links  li:hover::after
{
  width: 80%;
}


/*________________________Dropdown___________________________*/
  
    .dropdown 
    {
      position: relative;
      display: inline-block;
    }
  
    .drp
    {
      display: block;
      padding-top: 1.5em;
      padding-bottom: 1em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }


    .dropdown-content 
    {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      top: 52px;
      min-width: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a 
    {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
    }
  
    .dropdown-content a:hover 
    {
      background-color: #b4b4b4
    }
  
    .dropdown:hover .dropdown-content 
    {
      display: block;
    }


    .dropdown-department 
    {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      top: 42px;
      width: auto;
      height: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin: 10px;
      justify-content: center;
    }
    
    .dropdown-department a 
    {
      position:relative;
      color: black;
      padding: 12px 30px;
      text-align: left;
      width:max-content;
    }
  
    .dropdown-department a:hover 
    {
      background-color: #b4b4b4
    }
  
    .dropdown:hover .dropdown-department 
    {
      display: flex;
      width: auto;
    }



    #nav-toggle 
    {
      position: absolute;
      top: -100px;
    }
    nav .icon-burger 
    {
      display: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    }
    nav .icon-burger .line 
    {
      width: 30px;
      height: 5px;
      background-color: #3065b5;
      margin: 5px;
      border-radius: 3px;
      transition: all .3s ease-in-out;
    }


 /*_______________Slideshow________________*/

 .mySlides
 {
   display: none;
 }
 
 .mySlides img 
 {
   align-content: center;
   width: 100%;
 }
 
 .slideshow-container 
 {
   position: relative;
   background-position: center;
   background-size: inherit;
   width: 100%;
 }
 
 .slideshow-container:hover
 {
   position: relative;
   color: grey;
 }
 
 /* Fading animation */
 .fade 
 {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 .t1
 {
   color:rgb(123, 255, 0); 
   position: absolute; 
   width: 600px;
   margin-left: 3rem; 
   top: 10rem;
   font-size: 3rem; 
   font-weight:900; 
   background-color: transparent;
 }
 
 .tr1
 {
   color:rgb(255, 255, 255); 
   position: absolute ; 
   left: 3rem; 
   width: 500px;
   top: 18rem; 
   font-size: 25px;  
   font-weight: 400;
   background-color: transparent;
   text-align: justify;
   line-height: 35px;
 }


 .bt1
{
   position:absolute;
   font-size: 1.2rem;
   font-weight: bold;
   padding-top: .5rem;
   padding-bottom: .5rem;
   padding-left: 1rem;
   padding-right: 1rem;
   text-align: center;
   background-color: rgba(123, 255, 0, 0.692);
   color:white;
   left: 3rem; 
   top: 26rem;
   border-style: none;
   cursor: pointer;
   outline: none;
}

.bt1:hover
{
 color: white;
 background-color: #363836;
}


.t2
{
  color:rgb(123, 255, 0); 
  position: absolute; 
  width: 600px;
  right: 3rem; 
  top: 10rem;
  font-size: 3rem; 
  font-weight:900; 
  text-align: right;
  background-color: transparent;
}

.tr2
{
  color:rgb(255, 255, 255); 
  position: absolute ; 
  right: 3rem; 
  width: 500px;
  top: 18rem; 
  font-size: 25px;  
  font-weight: 400;
  background-color: transparent;
  text-align: justify;
  line-height: 35px;
}


.bt2
{
  position:absolute;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background-color: rgba(123, 255, 0, 0.692);
  color:white;
  right: 3rem; 
  top: 26rem;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.bt2:hover
{
color: white;
background-color: #363836;
}

.t3
{
  color:rgb(123, 255, 0); 
  position: absolute; 
  width: 600px;
  left: 3rem; 
  top: 10rem;
  font-size: 3rem; 
  font-weight:900; 
  background-color: transparent;
}

.tr3
{
  color:rgb(255, 255, 255); 
  position: absolute ; 
  left: 3rem; 
  width: 500px;
  top: 18rem; 
  font-size: 25px;  
  font-weight: 400;
  background-color: transparent;
  text-align: justify;
  line-height: 35px;
}


.bt3
{
  position:absolute;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background-color: rgba(123, 255, 0, 0.692);
  color:white;
  left: 3rem; 
  top: 26rem;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.bt3:hover
{
color: white;
background-color: #363836;
}

.t4
{
  color:rgb(123, 255, 0); 
  position: absolute; 
  width: 600px;
  right: 3rem; 
  top: 10rem;
  font-size: 3rem; 
  font-weight:900;
  text-align: right; 
  background-color: transparent;
}

.tr4
{
  color:rgb(255, 255, 255); 
  position: absolute ; 
  right: 3rem; 
  width: 500px;
  top: 18rem; 
  font-size: 25px;  
  font-weight: 400;
  background-color: transparent;
  text-align: justify;
  line-height: 35px;
}


.bt4
{
  position:absolute;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background-color: rgba(123, 255, 0, 0.692);
  color:white;
  right: 3rem; 
  top: 26rem;
  border-style: none;
  cursor: pointer;
  outline: none;
}

.bt4:hover
{
color: white;
background-color: #363836;
}



.contact-box
{
   max-width: 2000px;
   width: 90%;
   margin:10vh auto;
   padding: 0 10em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-gap: 2em;
}

.contact-1
{
  font-size: 15px;
  color: #636363;
}

.contact-1 span
{
  font-size: 20px;
  color:black;
}

.contact-2
{
  font-size: 15px;
  color: #636363;
}

.contact-2 span
{
  font-size: 20px;
  color:black;
}

.contact-3
{
  font-size: 15px;
  color: #636363; 
}

.contact-3 span
{
  font-size: 20px;
  color:black;  
}



/*********card***********/
* {
    box-sizing: border-box;
  }

  .gallery-wrapper1
   {
    max-width: 2000px;
    width: 90%;
    margin: 10vh auto;
    padding: 0 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3em;
  }
  
  .desc-wrapper1
  {
      background-color: aqua;
  }
  
  /*_____________Desc_____________*/
  .desc1
  {
    color: rgb(0, 0, 0);
  }
  
  .desc-title1
  {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 50px 0px 50px;
  }
  
  .desc-desc1
  {
    font-size: 15px;
    text-align: justify;
    line-height: 4vh;
    margin:30px 50px 0px 50px;
  }
  
  .descbtn1
  {
    font-size: 15px;
    font-weight: bold;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin: 3vh 0 8vh 8vh;
    text-align: center;
    color:#ffffff;
    border-style: solid;
    background-color: transparent;
    border-color: white;
  }
  
  .descbtn1:hover
  {
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    color:rgb(34, 33, 33);
    border-color: #292c2f;
  }



/*____________________Gallery-2__________________________*/

  .gallery-wrapper2
  {
   max-width: 2000px;
   width: 90%;
   margin:10vh auto;
   padding: 0 3em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-gap: 1em;
 }
 
 .desc-wrapper2
 {
     background-color:rgba(0, 0, 0, 0.075);
 }
 
 
 /*_____________Desc_____________*/
 .desc2
 {
   color: rgb(0, 0, 0);
 }
 
 .desc-title2
 {
   font-size: 30px;
   font-weight: bold;
   margin: 20px;
 }
 
 .desc-desc2
 {
   font-size: 15px;
   text-align: left;
   line-height: 4vh;
   margin: 20px;
 }
 

  
  

  /*____________________________Footer____________________________*/
* {
  box-sizing: border-box;
}

.footer
{
  background-color:#222;
  height: 100%;
  overflow: hidden;
}

.box
 {
  max-width: 2000px;
  width: 90%;
  margin: 10vh auto;
  padding: 3em 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}



/*_____________footer-Desc_____________*/
.fdesc
{
  color: rgb(255, 255, 255);
}

.fdesc-title
{
  font-size: 20px;
  margin: 30px 50px 0px 50px;
}

.fdesc-title::after
{
  content:'';
  width: 0%;
  height:2px;
  background: rgb(3, 163, 163);
  display: block;
  margin: auto;
  transition: 0.5s;
}

 .fdesc-title::after
{
  width: 30%;
  margin-left: 0px;
  margin-top: 5px;
}

.fdesc-desc
{
  font-size: 15px;
  text-align: left;
  line-height: 4vh;
  margin:30px 50px 0px 50px;
  color: #787878;
}

input[type=text], select 
{
  width: 120%;
  padding: 10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  background-color: #222;
}

input[type=text]:hover
{
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}

input[type=submit] 
{
  width: 70%;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 12px 10px;
  margin: 1px 0;
  cursor: pointer;
  color:#787878;
}

input[type=submit]:hover 
{
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}
footer hr
{
  margin-bottom: 1vh;
  border:1px solid rgba(255,255,255,.12);
}

.copyright
{
  font-size: 13px;
  color:#646464;
  margin: 3vh;
  text-align: center;
}


@media(max-width: 700px)
 {

  
  .logo img
      
  {
    position: absolute;
    width: 20vh;
    left: 0;
    margin: 7px;
  }

  .lgbg
  {
    position: relative;
    width: 100%;
    background-color: #3065b5;
    overflow: hidden;
  }

  .login
  {
    float: right;
    margin: 3px;
  }

  .dbutton
  {
    display: block;
    margin: 5px;
  }

  .fa-user
  {
    display: block;
    position: relative;
    color: white;
  }

  .fa-user:hover
  {
    color:aqua;
  }

  .fa-user-md
  {
    display: block;
    position: relative;
    color: white;
  }

  .fa-user-md:hover
  {
    color: aqua;
  }

  .navbox
  {
    position: relative;
    padding-top: 2em;
  }

  nav
  {
    top: 0;
  }

  nav .links 
  {
    float: none;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top:3.1em;
    bottom: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content:flex-start;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
    text-align: center;
    background-color: rgb(165, 165, 165);
  }


  nav .links a 

  {
      font-size: 15px;
  }

  nav :checked ~ .links 
  {
      bottom: 0;
  }
  nav .icon-burger 
  {
      display: block;
      right: 3%;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) 
  {
      transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) 
  {
      transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) 
  {
      opacity: 0;
  }

  .drp
  {
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }


   .t1
  {
    font-size: 15px;
    top: 2rem;
    left: -1.5rem;
    width: 300px;
  }

  .t2
  {
    font-size: 15px;
    top: 2rem;
    right: 1.5rem;
    width: 300px;
  }

  .t3
  {
    font-size: 15px;
    top: 2rem;
    left: 1.5rem;
    width: 300px;
  }
  
  .t4
  {
    font-size: 15px;
    top: 2rem;
    right: 1.5rem;
    width: 300px;
  }

  .tr1
  {
    font-size: 10px;
    left: 1.5rem;
    top: 3.5rem;
    line-height: 12px;
    width: 10rem;
    text-align: justify;
  }

  .tr2
  {
    font-size: 10px;
    right: 1.5rem;
    top: 3.5rem;
    line-height: 12px;
    width: 10rem;
    text-align: justify;
  }

  .tr3
  {
    font-size: 10px;
    left: 1.5rem;
    top: 3.5rem;
    line-height: 12px;
    width: 10rem;
    text-align: justify;
  }

  .tr4
  {
    font-size: 10px;
    right: 1.5rem;
    top: 3.5rem;
    line-height: 12px;
    width: 10rem;
    text-align: justify;
  }

  .bt1
  {
    font-size: 8px;
    padding:3px 7px 3px 7px ;
    top: 6rem;
    margin-top: 10px;
    margin-left: 5px;
    left:1.2rem;
    letter-spacing: 1px;
    outline: none;
  }

  .bt1:active 
  {
  background-color:rgba(123, 255, 0, 0.692);
  box-shadow: 0 5px transparent;
  transform: translateY(2px);
  }

  .bt2
  {
    font-size: 8px;
    padding:3px 7px 3px 7px ;
    top: 60%;
    margin-top: 10px;
    margin-left: 5px;
    right: 1.2rem;
    letter-spacing: 1px;
    outline: none;
  }

  .bt2:active 
  {
    background-color:rgba(123, 255, 0, 0.692);
    box-shadow: 0 5px transparent;
    transform: translateY(2px);
  }

  .bt3
  {
    font-size: 8px;
    padding:3px 7px 3px 7px ;
    top: 6rem;
    margin-top: 10px;
    margin-left: 5px;
    left:1.2rem;
    letter-spacing: 1px;
    outline: none;
  }

  .bt3:active 
  {
    background-color:rgba(123, 255, 0, 0.692);
    box-shadow: 0 5px transparent;
    transform: translateY(2px);
  }

  .bt4
  {
    font-size: 8px;
    padding:3px 7px 3px 7px ;
    top: 60%;
    margin-top: 10px;
    margin-left: 5px;
    right: 1.2rem;
    letter-spacing: 1px;
    outline: none;
  }

.bt4:active 
{
  background-color:rgba(123, 255, 0, 0.692);
  box-shadow: 0 5px transparent;
  transform: translateY(2px);
}




.gallery-wrapper1
  {
    max-width: 2000px;
    width: 90%;
    margin: 2vh auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.5em;
  }

  .gallery-wrapper2
  {
    max-width: 2000px;
    margin: 2vh auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.5em;
  }
  

  .contact-box
{
   max-width: 2000px;
   width: 90%;
   margin:5vh auto;
   padding: 0 2em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-gap: 2em;
}

.contact-1
{
  font-size: 10px;
  color: #636363;
}

.contact-1 span
{
  font-size: 15px;
  color:black;
}

.contact-2
{
  font-size: 10px;
  color: #636363;
}

.contact-2 span
{
  font-size: 15px;
  color:black;
}

.contact-3
{
  font-size: 10px;
  color: #636363; 
}

.contact-3 span
{
  font-size: 15px;
  color:black;  
}
.desc1
{
  color: rgb(0, 0, 0);
}

.desc-title1
{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.desc-desc1
{
  font-size: 15px;
  text-align: left;
  line-height: 4vh;
  margin: 20px;
}

.descbtn1
{
  margin: 1vh 0vh 5vh 3vh;
}

.desc2
{
  color: rgb(0, 0, 0);
}

.desc-title2
{
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.desc-desc2
{
  font-size: 10px;
  text-align: left;
  line-height: 4vh;
  margin: 20px;
}



.dropdown-department 
{
  display:none;
  position: relative;
  background-color: #f9f9f9;
  height: 100%;
  width: auto;
  top: -2vh;
  margin: 1vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  justify-content: center;
}



.dropdown-department ul li
{
  width: 50vh;
}

.dropdown-department a 
{
  position:relative;
  color: black;
  padding: 12px 30px;
  
}

.dropdown-department a:hover 
{
  background-color: #b4b4b4
}




  /*_____________footer-Desc_____________*/
.box
{
  margin-top: -2vh;
}

  .fdesc
{
  color: rgb(255, 255, 255);
}

.fdesc-title
{
  font-size: 20px;
  margin: 10px 50px 0px 40px;
  width: 200px;
}

.fdesc-title::after
{
  
  content:'';
  width: 0%;
  height:2px;
  background: rgb(3, 163, 163);
  display: block;
  margin: auto;
  transition: 0.5s;
}

 .fdesc-title::after
{
  width: 90%;
  margin-left: 0px;
  margin-top: 5px;
}

.fdesc-desc
{
  font-size: 15px;
  text-align: left;
  line-height: 4vh;
  margin:10px 25px 10px -20px;
  color: #787878;
}

input[type=text], select 
{
  width: 120%;
  padding: 10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  background-color: #222;
}

input[type=text]:hover
{
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}

input[type=submit] 
{
  width: 70%;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 12px 10px;
  margin: 1px 0;
  cursor: pointer;
  color:#787878;
}

input[type=submit]:hover 
{
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}


}